Repository cca-ffodregamdi/running-hi-back, pull requests merged in 2023-11, with the labels that each got.

#226 [FEATURE] - {IMAGE} 이미지 CRUD - firebase code
  .gitignore
  build.gradle
  src/main/java/com/runninghi/configuration/FirebaseConfig.java
  src/main/java/com/runninghi/feedback/command/domain/repository/FeedbackCommandRepository.java
  src/main/java/com/runninghi/image/command/application/controller/ImageCommandController.java
  src/main/java/com/runninghi/image/command/application/dto/request/ImageCreateRequest.java
  src/main/java/com/runninghi/image/command/application/dto/request/ImageDeletePostRequest.java
  src/main/java/com/runninghi/image/command/application/dto/request/ImageDeleteRequest.java
  src/main/java/com/runninghi/image/command/application/dto/request/ImageRequest.java
  src/main/java/com/runninghi/image/command/application/dto/request/ImagesCreateRequest.java
  src/main/java/com/runninghi/image/command/application/dto/response/ImageCreateResponse.java
  src/main/java/com/runninghi/image/command/application/dto/response/ImageResponse.java
  src/main/java/com/runninghi/image/command/application/dto/response/ImageUserResponse.java
  src/main/java/com/runninghi/image/command/application/dto/test.java
  src/main/java/com/runninghi/image/command/application/service/ImageCommandService.java
  src/main/java/com/runninghi/image/command/application/service/test.java
  src/main/java/com/runninghi/image/command/domain/aggregate/entity/Image.java
  src/main/java/com/runninghi/image/command/domain/aggregate/vo/AdminPostVO.java
  src/main/java/com/runninghi/image/command/domain/aggregate/vo/UserPostVO.java
  src/main/java/com/runninghi/image/command/domain/exception/test.java
  src/main/java/com/runninghi/image/command/domain/repository/ImageCommandRepository.java
  src/main/java/com/runninghi/image/command/domain/repository/test.java
  src/main/java/com/runninghi/image/command/domain/service/ImageCommandDomainService.java
  src/main/java/com/runninghi/image/command/domain/service/test.java
  src/test/java/com/runninghi/Image/command/application/service/ImageCommandServiceTests.java
Labels: ✨ Feature, 🎯 Test

#228 [FEATURE] - [USER, DEPLOY] 아이디 중복 검증 API & CI/CD 구축
  .github/workflows/gradle.yml
  .gitignore
  Dockerfile-dev
  Dockerfile-prod
  build.gradle
  docker-compose.yml
  src/main/java/com/runninghi/adminpost/command/application/dto/response/AdminUserCheckResponse.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/ApiCommentInfraService.java
  src/main/java/com/runninghi/configuration/WebConfig.java
  src/main/java/com/runninghi/configuration/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/runninghi/feedback/command/infrastructure/service/ApiFeedbackCommandInfraService.java
  src/main/java/com/runninghi/feedback/query/infrastructure/service/ApiFeedbackInfraQueryDomainService.java
  src/main/java/com/runninghi/image/command/application/service/ImageCommandService.java
  src/main/java/com/runninghi/keyword/command/infrastructure/service/ApiKeywordInfraService.java
  src/main/java/com/runninghi/postreport/command/infrastructure/service/PostReportCommandInfraService.java
  src/main/java/com/runninghi/user/command/application/controller/AdminCommandController.java
  src/main/java/com/runninghi/user/command/application/controller/SignCommandController.java
  src/main/java/com/runninghi/user/command/application/controller/UserCommandController.java
  src/main/java/com/runninghi/user/command/application/dto/sign_up/request/VerifyDuplicationIdRequest.java
  src/main/java/com/runninghi/user/command/application/dto/sign_up/response/VerifyDuplicationIdResponse.java
  src/main/java/com/runninghi/user/command/application/service/SignCommandService.java
  src/main/java/com/runninghi/user/command/application/service/UserCommandService.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/User.java
  src/main/java/com/runninghi/user/query/application/dto/test.java
  src/main/java/com/runninghi/user/query/application/dto/user/response/UserInfoResponse.java
  src/main/java/com/runninghi/user/query/application/service/AdminQueryService.java
  src/main/java/com/runninghi/user/query/application/service/UserQueryService.java
  src/test/java/com/runninghi/user/command/application/controller/AdminCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/controller/SignCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/controller/UserCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/service/SignCommandServiceTest.java
  src/test/java/com/runninghi/user/query/application/controller/AdminQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/controller/SignQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/controller/UserQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/service/AdminQueryServiceTest.java
  src/test/java/com/runninghi/user/query/application/service/UserQueryServiceTest.java
Labels: ✨ Feature, ⚙ Setting, 🌏 Deploy, 📬 API

#237 [Feature] - {Member} 아이디/비밀번호 찾기 기능 구현
  .github/ISSUE_TEMPLATE/issue--✂️refactor.md
  .github/ISSUE_TEMPLATE/issue--✂️refactoring.md
  .github/ISSUE_TEMPLATE/issue--✅feature.md
  .github/ISSUE_TEMPLATE/issue--🐞bugfix.md
  .github/ISSUE_TEMPLATE/issue--🙏request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  src/main/java/com/runninghi/configuration/SecurityConfig.java
  src/main/java/com/runninghi/user/command/application/controller/SignCommandController.java
  src/main/java/com/runninghi/user/command/application/controller/UserCommandController.java
  src/main/java/com/runninghi/user/command/application/dto/sign_up/request/SignUpRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/request/FindAccountRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/request/FindPasswordRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/request/UpdatePasswordRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UpdatePasswordResponse.java
  src/main/java/com/runninghi/user/command/application/service/UserCommandService.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/User.java
  src/main/java/com/runninghi/user/query/application/controller/AdminQueryController.java
  src/main/java/com/runninghi/user/query/application/controller/UserQueryController.java
  src/main/java/com/runninghi/user/query/application/dto/user/response/FindAccountResponse.java
  src/main/java/com/runninghi/user/query/application/dto/user/response/FindPasswordResponse.java
  src/main/java/com/runninghi/user/query/application/service/UserQueryService.java
  src/main/java/com/runninghi/user/query/infrastructure/repository/UserQueryRepository.java
  src/test/java/com/runninghi/jwt/exception/JwtExceptionResponseTest.java
Labels: ✨ Feature, 📬 API
