Repository cca-ffodregamdi/running-hi-back, pull requests merged in 2023-08, with the labels that each got.

#17 [Feature]-[ADMIN POST] [KEYWORD] [KEYWORD OF POST] 엔티티 설계
  .github/workflows/gradle.yml
  src/main/java/com/runninghi/adminpost/command/domain/aggregate/entity/ADMINPOST.java
  src/main/java/com/runninghi/adminpost/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/adminpost/command/domain/aggregate/vo/WriterNoVO.java
  src/main/java/com/runninghi/adminpost/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/keyword/command/domain/aggregate/entity/Keyword.java
  src/main/java/com/runninghi/keyword/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/entity/KeywordOfPost.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/AdminPostVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/KeywordVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/UserPostVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/test.java
  src/test/java/com/runninghi/RunninghiApplicationTests.java
Labels: ✨ Feature, ⚙ Setting

#21 feature : [user post] [feedback] [image] 엔티티 & VO 생성
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/Feedback.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/vo/FeedbackCategoryVO.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/vo/FeedbackWriterVO.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/image/command/domain/aggregate/entity/Image.java
  src/main/java/com/runninghi/image/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/image/command/domain/aggregate/vo/AdminPostVO.java
  src/main/java/com/runninghi/image/command/domain/aggregate/vo/UserPostVO.java
  src/main/java/com/runninghi/image/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/userpost/command/domain/aggregate/entity/UserPost.java
  src/main/java/com/runninghi/userpost/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/userpost/command/domain/aggregate/vo/UserVO.java
  src/main/java/com/runninghi/userpost/command/domain/aggregate/vo/test.java
  src/main/resources/db/data/data.sql
Labels: ✨ Feature, ⚙ Setting

#27 [REFACTORING] : {FEEDBACK} FeedbackCategoryVO를 enum으로 수정
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/Feedback.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/FeedbackCategory.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/vo/FeedbackCategoryVO.java
Labels: 🔨 Refactor

#28 [Feature] - {POSTREPORT} {COMMENTREPORT} 엔티티 및 VO 설계
  src/main/java/com/runninghi/commentReport/command/application/controller/test.java
  src/main/java/com/runninghi/commentReport/command/application/service/test.java
  src/main/java/com/runninghi/commentReport/command/domain/aggregate/entity/CommentReport.java
  src/main/java/com/runninghi/commentReport/command/domain/aggregate/vo/CommentReportUserVO.java
  src/main/java/com/runninghi/commentReport/command/domain/aggregate/vo/CommentReportedUserVO.java
  src/main/java/com/runninghi/commentReport/command/domain/aggregate/vo/ReportedCommentVO.java
  src/main/java/com/runninghi/commentReport/command/domain/repository/test.java
  src/main/java/com/runninghi/commentReport/command/domain/service/test.java
  src/main/java/com/runninghi/commentReport/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/commentReport/command/infrastructure/service/test.java
  src/main/java/com/runninghi/commentReport/query/application/controller/test.java
  src/main/java/com/runninghi/commentReport/query/application/dto/test.java
  src/main/java/com/runninghi/commentReport/query/application/service/test.java
  src/main/java/com/runninghi/commentReport/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/commentReport/query/infrastructure/service/test.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/postReport/command/application/controller/test.java
  src/main/java/com/runninghi/postReport/command/application/dto/test.java
  src/main/java/com/runninghi/postReport/command/application/service/test.java
  src/main/java/com/runninghi/postReport/command/domain/aggregate/entity/PostReport.java
  src/main/java/com/runninghi/postReport/command/domain/aggregate/vo/PostReportUserVO.java
  src/main/java/com/runninghi/postReport/command/domain/aggregate/vo/PostReportedUserVO.java
  src/main/java/com/runninghi/postReport/command/domain/aggregate/vo/ReportedPostVO.java
  src/main/java/com/runninghi/postReport/command/domain/exception/test.java
  src/main/java/com/runninghi/postReport/command/domain/repository/test.java
  src/main/java/com/runninghi/postReport/command/domain/service/test.java
  src/main/java/com/runninghi/postReport/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/postReport/command/infrastructure/service/test.java
  src/main/java/com/runninghi/postReport/query/application/controller/test.java
  src/main/java/com/runninghi/postReport/query/application/dto/test.java
  src/main/java/com/runninghi/postReport/query/application/service/test.java
  src/main/java/com/runninghi/postReport/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/postReport/query/infrastructure/service/test.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/entity/test.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/vo/test.java
Labels: ✨ Feature, ⚙ Setting

#30 [Feature] - {bookmarkfolder} 새 즐겨찾기 폴더 생성, git action 오류 수정
  .github/workflows/gradle.yml
  build.gradle
  src/main/java/com/runninghi/bookmark/command/domain/aggregate/entity/Bookmark.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/SaveFolderDTO.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/test.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/SaveNewBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/test.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/entity/BookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/exception/BookmarkFolderException.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/exception/test.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/repository/BookmarkFolderRepository.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/repository/test.java
  src/main/resources/db/data/data.sql
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/SaveNewBookmarkFolderTests.java
Labels: 🐞 BugFix, ✨ Feature

#48 [FEATURE] : {FEEDBACK} 피드백 저장 기능
  src/main/java/com/runninghi/feedback/command/application/dto/SaveFeedbackDTO.java
  src/main/java/com/runninghi/feedback/command/application/dto/test.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackServiceImpl.java
  src/main/java/com/runninghi/feedback/command/application/service/test.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/Feedback.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/FeedbackCategory.java
  src/main/java/com/runninghi/feedback/command/domain/exception/ErrorResponse.java
  src/main/java/com/runninghi/feedback/command/domain/exception/GlobalExceptionHandler.java
  src/main/java/com/runninghi/feedback/command/domain/exception/customException/IllegalArgumentException.java
  src/main/java/com/runninghi/feedback/command/domain/exception/customException/NotFoundException.java
  src/main/java/com/runninghi/feedback/command/domain/exception/test.java
  src/main/java/com/runninghi/feedback/command/domain/repository/FeedbackRepository.java
  src/main/java/com/runninghi/feedback/command/domain/repository/test.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackService.java
  src/main/java/com/runninghi/feedback/command/domain/service/test.java
  src/main/resources/db/data/data.sql
  src/test/java/com/runninghi/feedback/command/service/SaveFeedbackServiceImplTests.java
Labels: ✨ Feature, 🎯 Test

#51 [USER] USER CRUD 관련 테스트 케이스 추가 및 수정
  .github/pull_request_template.md
  .github/workflows/gradle.yml
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackServiceImpl.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackService.java
  src/test/java/com/runninghi/User/command/application/service/AdminServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/SignServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/UserServiceTest.java
  src/test/java/com/runninghi/feedback/command/service/SaveFeedbackServiceImplTests.java
Labels: 🐞 BugFix, 🎯 Test

#53 [JWT] Access Token 관련 테스트 케이스 추가
  .github/workflows/gradle.yml
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackService.java
  src/test/java/com/runninghi/jwt/exception/JwtExceptionResponseTest.java
Labels: 🎯 Test

#62 [Feature] - {ADMIN POST} GPX parser 기능 구현
  src/main/java/com/runninghi/common/GpxDataDTO.java
  src/main/java/com/runninghi/common/GpxParser.java
  src/main/resources/gpxtest/test.gpx
  src/main/resources/gpxtest/wrongTest.gpx
  src/test/java/com/runninghi/RunninghiApplicationTests.java
  src/test/java/com/runninghi/common/GpxParserTest.java
Labels: ✨ Feature, 🔨 Refactor, 🎯 Test

#66 [Refactor] - {KEYWORD} 엔터티 빌더 패턴 적용
  src/main/java/com/runninghi/keyword/command/domain/aggregate/entity/Keyword.java
Labels: 🔨 Refactoring

#68 [Refactor] - {KEYWORD OF POST} 엔터티 빌더 패턴 적용
  src/main/java/com/runninghi/adminpost/command/domain/exception/test.java
  src/main/java/com/runninghi/keyword/command/domain/exception/test.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/entity/KeywordOfPost.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/KeywordVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/UserPostVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/exception/test.java
Labels: 🔨 Refactoring

#71 spring cloud config
  .github/workflows/gradle.yml
  .gitmodules
  build.gradle
  src/main/resources/bootstrap.yml
Labels: ⚙ Setting

#70 [Feature] - {Bookmark Folder} 폴더 조회 기능 구현
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/SaveNewBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/exception/BookmarkFolderException.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/repository/SaveFolderRepository.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/FindBookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/FindFolderDTO.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/test.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/FindBookmarkFolderImpl.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/test.java
  src/main/java/com/runninghi/bookmarkfolder/query/infrastructure/repository/FindFolderRepository.java
  src/main/java/com/runninghi/bookmarkfolder/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/bookmarkfolder/query/infrastructure/service/FindBookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/query/infrastructure/service/test.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/SaveNewBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/FindBookmarkFolderTests.java
Labels: ✨ Feature

#86 feature : {bookmark folder} 즐겨찾기 폴더 삭제 기능 구현 및 리팩토링
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/SaveFolderDTO.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/CreateFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/DeleteFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/CreateNewBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/DeleteBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/SaveNewBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/entity/BookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/repository/BookmarkFolderRepository.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/BookmarkFolderDomainService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/FindBookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/BookmarkFolderDomainServiceImpl.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/test.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/FindFolderDTO.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/request/FindFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/FindBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/query/infrastructure/service/FindBookmarkFolder.java
  src/main/java/com/runninghi/common/handler/BookmarkFolder/ExceptionResponseHandler.java
  src/main/java/com/runninghi/user/command/domain/repository/UserRepository.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/CreateNewBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/DeleteBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/FindBookmarkFolderTests.java
Labels: ✨ Feature, 🔨 Refactoring, 🎯 Test

#99 feature : {bookmark} 즐겨찾기 조회, 삭제 기능
  src/main/java/com/runninghi/bookmark/command/application/dto/request/DeleteBookmarkRequest.java
  src/main/java/com/runninghi/bookmark/command/application/service/DeleteBookmarkService.java
  src/main/java/com/runninghi/bookmark/command/infrastructure/service/BookmarkInfraService.java
  src/main/java/com/runninghi/bookmark/query/application/dto/FindBookmarkRequest.java
  src/main/java/com/runninghi/bookmark/query/application/dto/test.java
  src/main/java/com/runninghi/bookmark/query/application/service/FindBookmarkService.java
  src/main/java/com/runninghi/bookmark/query/application/service/test.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/FindBookmarkFolderService.java
  src/test/java/com/runninghi/bookmark/command/application/service/CreateBookmarkTests.java
  src/test/java/com/runninghi/bookmark/command/application/service/DeleteBookmarkTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/FindBookmarkTests.java
Labels: ✨ Feature, 🎯 Test

#100 [JWT] Refresh Token 추가
  src/main/java/com/runninghi/configuration/SecurityConfig.java
  src/main/java/com/runninghi/configuration/SwaggerConfig.java
  src/main/java/com/runninghi/configuration/jwt/JwtAuthenticationFilter.java
  src/main/java/com/runninghi/configuration/jwt/TokenProvider.java
  src/main/java/com/runninghi/user/command/application/controller/UserController.java
  src/main/java/com/runninghi/user/command/application/dto/sign_in/request/SignInRequest.java
  src/main/java/com/runninghi/user/command/application/dto/sign_in/response/SignInResponse.java
  src/main/java/com/runninghi/user/command/application/dto/user/request/UserUpdateRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UserDeleteResponse.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UserInfoResponse.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UserUpdateResponse.java
  src/main/java/com/runninghi/user/command/application/service/AdminService.java
  src/main/java/com/runninghi/user/command/application/service/SignService.java
  src/main/java/com/runninghi/user/command/application/service/UserService.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/User.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/UserRefreshToken.java
  src/main/java/com/runninghi/user/query/infrastructure/repository/UserRefreshTokenRepository.java
  src/main/java/com/runninghi/user/query/infrastructure/repository/test.java
  src/main/resources/jwt.yml
  src/test/java/com/runninghi/User/command/application/service/AdminServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/SignServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/UserServiceTest.java
Labels: ✨ Feature, ⚙ Setting, 🔨 Refactoring

#103 feature : {comment} 댓글 추가 기능
  src/main/java/com/runninghi/comment/command/application/dto/request/CreateCommentRequest.java
  src/main/java/com/runninghi/comment/command/application/dto/test.java
  src/main/java/com/runninghi/comment/command/application/service/CreateCommentService.java
  src/main/java/com/runninghi/comment/command/application/service/test.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/entity/Comment.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/vo/CommentReportCntVO.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/vo/UserNoVO.java
  src/main/java/com/runninghi/comment/command/domain/exception/test.java
  src/main/java/com/runninghi/comment/command/domain/repository/CommentRepository.java
  src/main/java/com/runninghi/comment/command/domain/repository/test.java
  src/main/java/com/runninghi/comment/command/domain/service/CommentDomainService.java
  src/main/java/com/runninghi/comment/command/domain/service/test.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/CommentInfraService.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/test.java
  src/test/java/com/runninghi/comment/command/application/service/CreateCommentTests.java
Labels: ✨ Feature, 🎯 Test

#106 feature : {comment} 댓글 조회 기능
  src/main/java/com/runninghi/comment/command/application/service/UpdateCommentService.java
  src/main/java/com/runninghi/comment/command/domain/repository/CommentRepository.java
  src/main/java/com/runninghi/comment/query/application/dto/request/FindAllCommentsRequest.java
  src/main/java/com/runninghi/comment/query/application/dto/request/FindCommentRequest.java
  src/main/java/com/runninghi/comment/query/application/dto/test.java
  src/main/java/com/runninghi/comment/query/application/service/FindCommentService.java
  src/main/java/com/runninghi/comment/query/application/service/test.java
  src/test/java/com/runninghi/comment/query/application/service/FindCommentsTests.java
Labels: ✨ Feature, 🎯 Test

#111 refactor: {comment} {bookmark folder} {bookmark} 서비스 클래스 리팩토링
  src/main/java/com/runninghi/bookmark/command/application/service/CommandBookmarkService.java
  src/main/java/com/runninghi/bookmark/command/application/service/DeleteBookmarkService.java
  src/main/java/com/runninghi/bookmark/command/domain/service/CommandBookmarkDomainService.java
  src/main/java/com/runninghi/bookmark/command/infrastructure/service/CommandBookmarkInfraService.java
  src/main/java/com/runninghi/bookmark/query/application/service/QueryBookmarkService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/CommandBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/CreateNewBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/DeleteBookmarkFolderService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/BookmarkFolderDomainService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/CommandFolderDomainService.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/CommandFolderInfraService.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/QueryBookmarkFolderService.java
  src/main/java/com/runninghi/comment/command/application/service/CommandCommentService.java
  src/main/java/com/runninghi/comment/command/application/service/UpdateCommentService.java
  src/main/java/com/runninghi/comment/command/domain/service/CommandCommentDomainService.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/CommandCommentInfraService.java
  src/main/java/com/runninghi/comment/query/application/service/QueryCommentService.java
  src/test/java/com/runninghi/bookmark/command/application/service/CommandBookmarkServiceTests.java
  src/test/java/com/runninghi/bookmark/command/application/service/DeleteBookmarkTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/QueryBookmarkServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/CommandBookmarkFolderServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/CreateNewBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/DeleteBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/UpdateBookmarkFolderTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/QueryBookmarkFolderServiceTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommandCommentServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/QueryCommentServiceTests.java
Labels: 🔨 Refactoring

#112 refactor : 테스트 display 형식 통일
  src/test/java/com/runninghi/User/command/application/service/AdminServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/SignServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/UserServiceTest.java
  src/test/java/com/runninghi/bookmark/command/application/service/CommandBookmarkServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/QueryBookmarkServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/CommandBookmarkFolderServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/QueryBookmarkFolderServiceTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommandCommentServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/QueryCommentServiceTests.java
  src/test/java/com/runninghi/common/GpxParserTest.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackReplyServiceTests.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackServiceTests.java
  src/test/java/com/runninghi/jwt/exception/JwtExceptionResponseTest.java
Labels: 🔨 Refactoring

#117 [Feature] - {KEYWORD} 공통 패키지 분리 및 키워드 생성 구현
  src/main/java/com/runninghi/common/exception/ExceptionResponseHandler.java
  src/main/java/com/runninghi/common/gpx/GpxDataDTO.java
  src/main/java/com/runninghi/common/gpx/GpxParser.java
  src/main/java/com/runninghi/common/response/ApiResponse.java
  src/main/java/com/runninghi/common/response/enumtype/ApiStatus.java
  src/main/java/com/runninghi/keyword/command/application/controller/CommandKeywordController.java
  src/main/java/com/runninghi/keyword/command/application/controller/test.java
  src/main/java/com/runninghi/keyword/command/application/dto/request/KeywordCreateRequest.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/KeywordCreateResponse.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/UserCheckResponse.java
  src/main/java/com/runninghi/keyword/command/application/dto/test.java
  src/main/java/com/runninghi/keyword/command/application/service/CommandKeywordService.java
  src/main/java/com/runninghi/keyword/command/application/service/test.java
  src/main/java/com/runninghi/keyword/command/domain/aggregate/vo/test.java
  src/main/java/com/runninghi/keyword/command/domain/repository/CommandKeywordRepository.java
  src/main/java/com/runninghi/keyword/command/domain/repository/test.java
  src/main/java/com/runninghi/keyword/command/domain/service/ApiKeywordDomainService.java
  src/main/java/com/runninghi/keyword/command/domain/service/CommandKeywrodDomainService.java
  src/main/java/com/runninghi/keyword/command/domain/service/test.java
  src/main/java/com/runninghi/keyword/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/keyword/command/infrastructure/service/ApiKeywordInfraService.java
  src/main/java/com/runninghi/keyword/command/infrastructure/service/test.java
  src/main/java/com/runninghi/keyword/query/application/controller/QueryKeywordController.java
  src/main/java/com/runninghi/keyword/query/application/controller/test.java
  src/main/java/com/runninghi/keyword/query/application/dto/response/GetKeywordListResponse.java
  src/main/java/com/runninghi/keyword/query/application/dto/test.java
  src/main/java/com/runninghi/keyword/query/application/service/QueryKeywordService.java
  src/main/java/com/runninghi/keyword/query/application/service/test.java
  src/main/java/com/runninghi/keyword/query/infrastructure/repository/QueryKeywordRepository.java
  src/main/java/com/runninghi/keyword/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/keyword/query/infrastructure/service/test.java
  src/main/java/com/runninghi/user/command/application/controller/AdminController.java
  src/main/java/com/runninghi/user/command/application/controller/SignController.java
  src/main/java/com/runninghi/user/command/application/controller/UserController.java
  src/main/java/com/runninghi/user/command/application/dto/ApiResponse.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/enumtype/ApiStatus.java
  src/main/resources/db/data/data.sql
  src/test/java/com/runninghi/common/GpxParserTest.java
  src/test/java/com/runninghi/jwt/exception/JwtExceptionResponseTest.java
  src/test/java/com/runninghi/keyword/command/application/service/CommandKeywordServiceTest.java
  src/test/java/com/runninghi/keyword/query/application/service/QueryKeywordServiceTest.java
Labels: ✏️ Rename, ✨ Feature, 🎯 Test

#120 [REFACTORING][SETTING] - {USER} USER Entity 수정
  src/main/java/com/runninghi/AdminInitializer.java
  src/main/java/com/runninghi/RunninghiApplication.java
  src/main/java/com/runninghi/configuration/jwt/JwtAuthenticationFilter.java
  src/main/java/com/runninghi/configuration/jwt/TokenProvider.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/User.java
  src/test/java/com/runninghi/jwt/exception/JwtExceptionResponseTest.java
Labels: ⚙ Setting, 🔨 Refactoring

#125 [Rename] - {KEYWORD} 파일 명칭 변경 및 url 수정
  src/main/java/com/runninghi/keyword/command/application/controller/KeywordCommandController.java
  src/main/java/com/runninghi/keyword/command/application/service/KeywordCommandService.java
  src/main/java/com/runninghi/keyword/command/domain/repository/KeywordCommandRepository.java
  src/main/java/com/runninghi/keyword/command/domain/service/KeywordCommandDomainService.java
  src/main/java/com/runninghi/keyword/query/application/controller/KeywordQueryController.java
  src/main/java/com/runninghi/keyword/query/application/service/KeywordQueryService.java
  src/main/java/com/runninghi/keyword/query/infrastructure/repository/KeywordQueryRepository.java
  src/test/java/com/runninghi/keyword/command/application/service/KeywordCommandServiceTest.java
  src/test/java/com/runninghi/keyword/query/application/service/KeywordQueryServiceTest.java
Labels: ✏️ Rename, 🔨 Refactoring

#131 refactor: {comment} {bookmark folder} {bookmark} 서비스 클래스 리팩토링
  src/main/java/com/runninghi/bookmark/command/application/controller/BookmarkCommandController.java
  src/main/java/com/runninghi/bookmark/command/application/controller/test.java
  src/main/java/com/runninghi/bookmark/command/application/service/CommandBookmarkService.java
  src/main/java/com/runninghi/bookmark/command/domain/service/BookmarkCommandDomainService.java
  src/main/java/com/runninghi/bookmark/command/infrastructure/service/BookmarkCommandInfraService.java
  src/main/java/com/runninghi/bookmark/query/application/service/BookmarkQueryService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/controller/FolderCommandController.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/FolderCommandDomainService.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/FolderCommandInfraService.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryService.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/command/domain/service/CommentCommandDomainService.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/CommentCommandInfraService.java
  src/main/java/com/runninghi/comment/query/application/service/CommentQueryService.java
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
Labels: 🔨 Refactoring

#135 feature : {FEEDBACK} 피드백 CRUD 기능, 테스트 코드 및 리팩토링
  src/main/java/com/runninghi/bookmark/query/application/service/BookmarkQueryService.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/FolderCommandInfraService.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryService.java
  src/main/java/com/runninghi/comment/query/application/service/CommentQueryService.java
  src/main/java/com/runninghi/common/handler/feedback/FeedbackExceptionResponseHandler.java
  src/main/java/com/runninghi/common/handler/feedback/customException/IllegalArgumentException.java
  src/main/java/com/runninghi/common/handler/feedback/customException/NotFoundException.java
  src/main/java/com/runninghi/common/handler/feedback/customException/NotMatchWriterException.java
  src/main/java/com/runninghi/common/handler/feedback/customException/UnauthorizedAccessException.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackCommandService.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackReplyCommandService.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackServiceImpl.java
  src/main/java/com/runninghi/feedback/command/domain/aggregate/entity/FeedbackCategory.java
  src/main/java/com/runninghi/feedback/command/domain/exception/ErrorResponse.java
  src/main/java/com/runninghi/feedback/command/domain/exception/GlobalExceptionHandler.java
  src/main/java/com/runninghi/feedback/command/domain/repository/FeedbackRepository.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackDomainCommandService.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackReplyService.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackService.java
  src/main/java/com/runninghi/feedback/command/infrastructure/service/FeedbackInfraCommandService.java
  src/main/java/com/runninghi/feedback/command/infrastructure/service/test.java
  src/main/java/com/runninghi/feedback/query/application/dto/request/FeedbackFindRequest.java
  src/main/java/com/runninghi/feedback/query/application/dto/response/FeedbackFindResponse.java
  src/main/java/com/runninghi/feedback/query/application/dto/test.java
  src/main/java/com/runninghi/feedback/query/application/service/FeedbackQueryService.java
  src/main/java/com/runninghi/feedback/query/application/service/test.java
  src/main/java/com/runninghi/feedback/query/domain/service/FeedbackDomainQueryService.java
  src/main/java/com/runninghi/feedback/query/infrastructure/service/FeedbackInfraQueryService.java
  src/main/java/com/runninghi/feedback/query/infrastructure/service/test.java
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackCommandServiceTests.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackReplyCommandServiceTests.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackServiceTests.java
  src/test/java/com/runninghi/feedback/qeury/application/service/FeedbackQueryServiceTests.java
Labels: ✏️ Rename, ✨ Feature, 🔨 Refactoring, 🎯 Test

#138 [REFACTORING][SETTING] - {USER} USER Entity 수정
  src/main/java/com/runninghi/AdminInitializer.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackService.java
  src/main/java/com/runninghi/user/command/application/dto/sign_in/response/SignInResponse.java
  src/main/java/com/runninghi/user/command/application/dto/sign_up/request/SignUpRequest.java
  src/main/java/com/runninghi/user/command/application/dto/sign_up/response/SignUpResponse.java
  src/main/java/com/runninghi/user/command/application/dto/user/request/UserUpdateRequest.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UserInfoResponse.java
  src/main/java/com/runninghi/user/command/application/dto/user/response/UserUpdateResponse.java
  src/main/java/com/runninghi/user/command/application/service/SignService.java
  src/main/java/com/runninghi/user/command/domain/aggregate/entity/User.java
  src/test/java/com/runninghi/User/command/application/service/AdminServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/SignServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/UserServiceTest.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackServiceTests.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackServiceTests.java
  src/test/java/com/runninghi/feedback/qeury/application/service/FeedbackQueryServiceTests.java
Labels: ⚙ Setting, 🔨 Refactoring

#142 [Feat] - {COMMENT} 댓글 삭제 기능 구현
  src/main/java/com/runninghi/comment/command/application/dto/request/DeleteCommentRequest.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/command/domain/service/CommentCommandDomainService.java
  src/main/java/com/runninghi/comment/command/infrastructure/service/CommentCommandInfraService.java
  src/main/java/com/runninghi/comment/query/application/service/CommentQueryService.java
  src/main/java/com/runninghi/common/handler/BookmarkFolder/ExceptionResponseHandler.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
Labels: ✨ Feature, 🎯 Test

#140 [Feat] - {KEYWORD} 키워드 조회 기능 구현
  src/main/java/com/runninghi/keyword/query/application/controller/KeywordQueryController.java
  src/main/java/com/runninghi/keyword/query/application/dto/response/FindKeywordResponse.java
  src/main/java/com/runninghi/keyword/query/application/dto/response/GetKeywordListResponse.java
  src/main/java/com/runninghi/keyword/query/application/service/KeywordQueryService.java
  src/main/java/com/runninghi/keyword/query/infrastructure/repository/KeywordQueryRepository.java
  src/test/java/com/runninghi/keyword/query/application/service/KeywordQueryServiceTest.java
Labels: ✨ Feature

#144 [#78][REFACTORING] - {USER} USER 관련 조회 메소드명 수정
  src/main/java/com/runninghi/common/exception/ExceptionResponseHandler.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackCommandService.java
  src/main/java/com/runninghi/feedback/command/infrastructure/service/ApiFeedbackInfraService.java
  src/main/java/com/runninghi/keyword/command/infrastructure/service/ApiKeywordInfraService.java
  src/main/java/com/runninghi/keyword/query/application/service/KeywordQueryService.java
  src/main/java/com/runninghi/user/command/application/controller/AdminController.java
  src/main/java/com/runninghi/user/command/application/controller/UserController.java
  src/main/java/com/runninghi/user/command/application/service/AdminService.java
  src/main/java/com/runninghi/user/command/application/service/UserService.java
  src/test/java/com/runninghi/User/command/application/service/AdminServiceTest.java
  src/test/java/com/runninghi/User/command/application/service/UserServiceTest.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackCommandServiceTests.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackCommandServiceTests.java
Labels: 🔨 Refactoring

#145 [Feat] - {BOOKMARK FOLDER, BOOKMARK} 폴더 속 즐겨찾기 제거
  src/main/java/com/runninghi/bookmark/command/application/service/BookmarkCommandService.java
  src/main/java/com/runninghi/bookmark/command/domain/repository/BookmarkRepository.java
  src/main/java/com/runninghi/bookmark/query/application/dto/FindBookmarkListRequest.java
  src/main/java/com/runninghi/bookmark/query/application/service/BookmarkQueryService.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/service/FolderCommandDomainService.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/bookmarkfolder/command/infrastructure/service/FolderCommandInfraService.java
  src/main/resources/db/data/data.sql
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
Labels: ✨ Feature, 🎯 Test

#146 [Feature] - {POSTREPORT} 게시글신고 저장, 삭제, 조회 기능
  src/main/java/com/runninghi/commentreport/command/application/controller/test.java
  src/main/java/com/runninghi/commentreport/command/application/service/test.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/entity/CommentReport.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/vo/CommentReportUserVO.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/vo/CommentReportedUserVO.java
  src/main/java/com/runninghi/commentreport/command/domain/aggregate/vo/ReportedCommentVO.java
  src/main/java/com/runninghi/commentreport/command/domain/repository/test.java
  src/main/java/com/runninghi/commentreport/command/domain/service/test.java
  src/main/java/com/runninghi/commentreport/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/commentreport/command/infrastructure/service/test.java
  src/main/java/com/runninghi/commentreport/query/application/controller/test.java
  src/main/java/com/runninghi/commentreport/query/application/dto/test.java
  src/main/java/com/runninghi/commentreport/query/application/service/test.java
  src/main/java/com/runninghi/commentreport/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/commentreport/query/infrastructure/service/test.java
  src/main/java/com/runninghi/postreport/command/application/controller/PostReportCommandController.java
  src/main/java/com/runninghi/postreport/command/application/dto/request/PostReportRequest.java
  src/main/java/com/runninghi/postreport/command/application/dto/response/PostReportResponse.java
  src/main/java/com/runninghi/postreport/command/application/service/PostReportCommandService.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/entity/PostReport.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/vo/PostReportUserVO.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/vo/PostReportedUserVO.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/vo/ReportedPostVO.java
  src/main/java/com/runninghi/postreport/command/domain/exception/test.java
  src/main/java/com/runninghi/postreport/command/domain/repository/PostReportCommandRepository.java
  src/main/java/com/runninghi/postreport/command/domain/service/PostReportCommandDomainService.java
  src/main/java/com/runninghi/postreport/command/infrastructure/repository/test.java
  src/main/java/com/runninghi/postreport/command/infrastructure/service/PostReportCommandInfraService.java
  src/main/java/com/runninghi/postreport/query/application/controller/test.java
  src/main/java/com/runninghi/postreport/query/application/dto/test.java
  src/main/java/com/runninghi/postreport/query/application/service/PostReportQueryService.java
  src/main/java/com/runninghi/postreport/query/infrastructure/repository/test.java
  src/main/java/com/runninghi/postreport/query/infrastructure/service/test.java
  src/test/java/com/runninghi/postreport/command/application/service/PostReportCommandServiceTests.java
  src/test/java/com/runninghi/postreport/query/application/service/PostReportQueryServiceTests.java
Labels: ✨ Feature, 🎯 Test

#150 [Feat] - {COMMENT} 댓글 수정 기능 구현
  src/main/java/com/runninghi/bookmark/command/domain/repository/BookmarkRepository.java
  src/main/java/com/runninghi/comment/command/application/dto/request/UpdateCommentRequest.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/entity/Comment.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
Labels: ✨ Feature, 🎯 Test

#151 [Feature] - {FEEDBACK} 피드백 조회기능, 서비스와 command&query 수정
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackCommandService.java
  src/main/java/com/runninghi/feedback/command/application/service/FeedbackReplyCommandService.java
  src/main/java/com/runninghi/feedback/command/domain/repository/FeedbackCommandRepository.java
  src/main/java/com/runninghi/feedback/command/domain/service/ApiFeedbackCommandDomainService.java
  src/main/java/com/runninghi/feedback/command/domain/service/FeedbackCommandDomainService.java
  src/main/java/com/runninghi/feedback/command/infrastructure/service/ApiFeedbackCommandInfraService.java
  src/main/java/com/runninghi/feedback/query/application/dto/request/FeedbackStatusRequest.java
  src/main/java/com/runninghi/feedback/query/application/dto/response/FeedbackStatusResponse.java
  src/main/java/com/runninghi/feedback/query/application/dto/response/FeedbackUserResponse.java
  src/main/java/com/runninghi/feedback/query/application/service/FeedbackQueryService.java
  src/main/java/com/runninghi/feedback/query/domain/repository/FeedbackQueryRepository.java
  src/main/java/com/runninghi/feedback/query/domain/service/ApiFeedbackQueryDomainService.java
  src/main/java/com/runninghi/feedback/query/domain/service/FeedbackDomainQueryService.java
  src/main/java/com/runninghi/feedback/query/domain/service/FeedbackQueryDomainService.java
  src/main/java/com/runninghi/feedback/query/infrastructure/service/ApiFeedbackInfraQueryDomainService.java
  src/main/java/com/runninghi/feedback/query/infrastructure/service/FeedbackInfraQueryService.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackCommandServiceTests.java
  src/test/java/com/runninghi/feedback/command/application/service/FeedbackReplyCommandServiceTests.java
  src/test/java/com/runninghi/feedback/command/service/FeedbackCommandServiceTests.java
  src/test/java/com/runninghi/feedback/qeury/application/service/FeedbackQueryServiceTests.java
Labels: ✏️ Rename, ✨ Feature, 🎯 Test

#154 [Feature] - {KEYWORD} update
  build.gradle
  src/main/java/com/runninghi/keyword/command/application/dto/request/KeywordCreateRequest.java
  src/main/java/com/runninghi/keyword/command/application/dto/request/KeywordUpdateRequest.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/KeywordUpdateResponse.java
  src/main/java/com/runninghi/keyword/command/application/service/KeywordCommandService.java
  src/main/java/com/runninghi/keyword/command/domain/aggregate/entity/Keyword.java
  src/main/java/com/runninghi/keyword/query/application/dto/response/FindKeywordResponse.java
  src/main/java/com/runninghi/keyword/query/application/service/KeywordQueryService.java
  src/main/resources/db/data/data.sql
  src/test/java/com/runninghi/keyword/command/application/service/KeywordCommandServiceTest.java
  src/test/java/com/runninghi/keyword/query/application/service/KeywordQueryServiceTest.java
Labels: 🐞 BugFix, ✨ Feature, 🔨 Refactoring, 🎯 Test

#155 [Test] - @BeforeEach 추가
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
Labels: 🎯 Test

#158 [Feature]-{KEYWORD} delete, Transactional 적용
  src/main/java/com/runninghi/keyword/command/application/controller/KeywordCommandController.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/KeywordResponse.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/KeywordUpdateResponse.java
  src/main/java/com/runninghi/keyword/command/application/service/KeywordCommandService.java
  src/main/java/com/runninghi/keyword/command/domain/repository/KeywordCommandRepository.java
  src/main/java/com/runninghi/keyword/command/domain/service/ApiKeywordDomainService.java
  src/main/java/com/runninghi/keyword/command/infrastructure/service/ApiKeywordInfraService.java
  src/main/java/com/runninghi/keyword/query/application/service/KeywordQueryService.java
  src/test/java/com/runninghi/keyword/command/application/service/KeywordCommandServiceTest.java
Labels: ✨ Feature, 🔨 Refactoring, 🎯 Test

#160 [Refactor] - {BOOKMARK FOLDER} Update 수정
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/entity/BookmarkFolder.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
Labels: 🔨 Refactoring

#164 [Feature]-{COMMENT} CUD controller 작성
  src/main/java/com/runninghi/comment/command/application/controller/CommentCommandController.java
  src/main/java/com/runninghi/comment/command/application/dto/response/CommentCommandResponse.java
  src/main/java/com/runninghi/comment/command/application/dto/response/CommentDeleteResponse.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/query/application/dto/response/CommentQueryResponse.java
  src/main/java/com/runninghi/comment/query/application/service/CommentQueryService.java
  src/test/java/com/runninghi/comment/command/application/controller/CommentCommandControllerTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
Labels: ✨ Feature, 🎯 Test

#170 [Feature]-{BOOKMARK FOLDER} CUD controller 작성
  src/main/java/com/runninghi/bookmarkfolder/command/application/controller/FolderCommandController.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/response/FolderCommandResponse.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/response/FolderDeleteResponse.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/response/FolderQueryResponse.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryService.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/controller/FolderCommandControllerTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
Labels: ✨ Feature, 🎯 Test

#172 [Setting] - Spring Cloud Config Server
  .github/workflows/gradle.yml
  .gitignore
  build.gradle
Labels: ⚙ Setting

#174 [Refactor] - userNo 중간객체 VO 이용
  src/main/java/com/runninghi/bookmark/command/application/dto/request/CreateBookmarkRequest.java
  src/main/java/com/runninghi/bookmark/command/application/service/BookmarkCommandService.java
  src/main/java/com/runninghi/bookmark/command/domain/aggregate/entity/Bookmark.java
  src/main/java/com/runninghi/bookmark/command/domain/aggregate/vo/BookmarkUserVO.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/CreateFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/UpdateFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/response/FolderCommandResponse.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/entity/BookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/vo/FolderUserVO.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/response/FolderQueryResponse.java
  src/main/java/com/runninghi/comment/command/application/dto/request/CreateCommentRequest.java
  src/main/java/com/runninghi/comment/command/application/dto/response/CommentCommandResponse.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/entity/Comment.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/vo/CommentUserVO.java
  src/main/java/com/runninghi/comment/query/application/dto/response/CommentQueryResponse.java
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/controller/FolderCommandControllerTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
  src/test/java/com/runninghi/comment/command/application/controller/CommentCommandControllerTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
Labels: 🔨 Refactoring

#175 [Feature] - {Bookmark} 이미 저장된 즐겨찾기 예외처리
  src/main/java/com/runninghi/bookmark/command/application/service/BookmarkCommandService.java
  src/main/java/com/runninghi/bookmark/command/domain/service/BookmarkCommandDomainService.java
  src/main/java/com/runninghi/bookmark/command/infrastructure/service/BookmarkCommandInfraService.java
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
Labels: ✨ Feature, 🎯 Test

#182 [Feature] - {AWS S3} aws s3 환경 설정
  build.gradle
  src/main/java/com/runninghi/configuration/AwsS3Config.java
Labels: ✨ Feature, ⚙ Setting

#187 [Feature] - {Comment} 신고 상태, 업데이트 날짜 엔티티 추가
  src/main/java/com/runninghi/bookmark/command/application/dto/request/CreateBookmarkRequest.java
  src/main/java/com/runninghi/bookmark/command/application/dto/response/BookmarkCommandResponse.java
  src/main/java/com/runninghi/bookmark/command/application/dto/response/BookmarkDeleteResponse.java
  src/main/java/com/runninghi/bookmark/command/application/service/BookmarkCommandService.java
  src/main/java/com/runninghi/bookmark/command/domain/aggregate/entity/Bookmark.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/CreateFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/request/UpdateFolderRequest.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/dto/response/FolderCommandResponse.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandService.java
  src/main/java/com/runninghi/bookmarkfolder/command/domain/aggregate/entity/BookmarkFolder.java
  src/main/java/com/runninghi/bookmarkfolder/query/application/dto/response/FolderQueryResponse.java
  src/main/java/com/runninghi/comment/command/application/dto/request/CreateCommentRequest.java
  src/main/java/com/runninghi/comment/command/application/dto/response/CommentCommandResponse.java
  src/main/java/com/runninghi/comment/command/application/service/CommentCommandService.java
  src/main/java/com/runninghi/comment/command/domain/aggregate/entity/Comment.java
  src/main/java/com/runninghi/comment/query/application/dto/request/FindAllCommentsRequest.java
  src/main/java/com/runninghi/comment/query/application/dto/response/CommentQueryResponse.java
  src/main/java/com/runninghi/comment/query/application/service/CommentQueryService.java
  src/main/java/com/runninghi/comment/query/infrastructure/repository/CommentQueryRepository.java
  src/test/java/com/runninghi/bookmark/command/application/service/BookmarkCommandServiceTests.java
  src/test/java/com/runninghi/bookmark/query/application/service/BookmarkQueryServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/application/service/BookmarkFolderCommandServiceTests.java
  src/test/java/com/runninghi/bookmarkfolder/command/controller/FolderCommandControllerTests.java
  src/test/java/com/runninghi/bookmarkfolder/query/application/service/BookmarkFolderQueryServiceTests.java
  src/test/java/com/runninghi/comment/command/application/controller/CommentCommandControllerTests.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
  src/test/java/com/runninghi/comment/query/application/service/CommentQueryServiceTests.java
Labels: ✨ Feature, 🎯 Test

#191 [Feature] - {POSTREPORT} 게시글 신고 관리자 기능
  src/main/java/com/runninghi/postreport/command/application/dto/request/PostReportProcessingRequest.java
  src/main/java/com/runninghi/postreport/command/application/dto/request/PostReportRequest.java
  src/main/java/com/runninghi/postreport/command/application/dto/request/PostReportSaveRequest.java
  src/main/java/com/runninghi/postreport/command/application/dto/request/PostReportUpdateRequest.java
  src/main/java/com/runninghi/postreport/command/application/dto/response/PostReportResponse.java
  src/main/java/com/runninghi/postreport/command/application/dto/response/ReportedUserResponse.java
  src/main/java/com/runninghi/postreport/command/application/service/BlackListCommandService.java
  src/main/java/com/runninghi/postreport/command/application/service/PostReportCommandService.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/entity/PostReport.java
  src/main/java/com/runninghi/postreport/command/domain/aggregate/entity/enumtype/ProcessingStatus.java
  src/main/java/com/runninghi/postreport/command/domain/service/PostReportCommandDomainService.java
  src/main/java/com/runninghi/postreport/command/infrastructure/service/PostReportCommandInfraService.java
  src/main/java/com/runninghi/postreport/query/application/service/PostReportQueryService.java
  src/main/java/com/runninghi/postreport/query/infrastructure/repository/PostReportQueryRepository.java
  src/main/java/com/runninghi/postreport/query/infrastructure/repository/test.java
  src/test/java/com/runninghi/postreport/command/application/service/BlackListCommandServiceTests.java
  src/test/java/com/runninghi/postreport/command/application/service/PostReportCommandServiceTests.java
  src/test/java/com/runninghi/postreport/query/application/service/PostReportQueryServiceTests.java
Labels: ✨ Feature, 🔨 Refactoring, 🎯 Test

#192 [Feature]-{ADMIN POST}{KEYWORD OF POST} create
  build.gradle
  src/main/java/com/runninghi/adminpost/command/application/controller/AdminPostCommandController.java
  src/main/java/com/runninghi/adminpost/command/application/controller/test.java
  src/main/java/com/runninghi/adminpost/command/application/dto/request/AdminPostCreateRequest.java
  src/main/java/com/runninghi/adminpost/command/application/dto/request/KeywordListRequest.java
  src/main/java/com/runninghi/adminpost/command/application/dto/response/AdminPostResponse.java
  src/main/java/com/runninghi/adminpost/command/application/dto/response/AdminUserCheckResponse.java
  src/main/java/com/runninghi/adminpost/command/application/dto/response/KeywordOfAdminPostCreateResponse.java
  src/main/java/com/runninghi/adminpost/command/application/dto/test.java
  src/main/java/com/runninghi/adminpost/command/application/service/AdminPostCommandService.java
  src/main/java/com/runninghi/adminpost/command/application/service/test.java
  src/main/java/com/runninghi/adminpost/command/domain/aggregate/entity/AdminPost.java
  src/main/java/com/runninghi/adminpost/command/domain/repository/AdminPostCommandRepository.java
  src/main/java/com/runninghi/adminpost/command/domain/repository/test.java
  src/main/java/com/runninghi/adminpost/command/domain/service/AdminPostCommandDomainService.java
  src/main/java/com/runninghi/adminpost/command/domain/service/ApiAdminPostDomainService.java
  src/main/java/com/runninghi/adminpost/command/domain/service/test.java
  src/main/java/com/runninghi/adminpost/command/infrastructure/service/ApiAdminPostInfraService.java
  src/main/java/com/runninghi/adminpost/command/infrastructure/service/test.java
  src/main/java/com/runninghi/common/exception/ExceptionResponseHandler.java
  src/main/java/com/runninghi/keyword/command/application/dto/response/KeywordResponse.java
  src/main/java/com/runninghi/keyword/query/application/controller/KeywordQueryController.java
  src/main/java/com/runninghi/keywordofpost/command/application/dto/request/KeywordOfPostCreateRequest.java
  src/main/java/com/runninghi/keywordofpost/command/application/dto/response/KeywordOfAdminPostCreateResponse.java
  src/main/java/com/runninghi/keywordofpost/command/application/dto/test.java
  src/main/java/com/runninghi/keywordofpost/command/application/service/KeywordOfPostCommandService.java
  src/main/java/com/runninghi/keywordofpost/command/application/service/test.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/entity/KeywordOfPost.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/KeywordVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/aggregate/vo/UserPostVO.java
  src/main/java/com/runninghi/keywordofpost/command/domain/repository/KeywordOfPostCommandRepository.java
  src/main/java/com/runninghi/keywordofpost/command/domain/repository/test.java
  src/test/java/com/runninghi/adminpost/command/application/controller/AdminPostCommandControllerTest.java
  src/test/java/com/runninghi/adminpost/command/application/service/AdminPostCommandServiceTest.java
  src/test/java/com/runninghi/keyword/command/application/service/KeywordCommandServiceTest.java
Labels: ✨ Feature, 🔨 Refactoring, 🎯 Test

#195 [Fix]-{COMMENT} command responseDTO 수정
  src/main/java/com/runninghi/comment/command/application/dto/response/CommentCommandResponse.java
  src/test/java/com/runninghi/comment/command/application/service/CommentCommandServiceTests.java
Labels: 🎯 Test, ⚒️Fix

#196 [Refactoring] - {COMMON} 컨트롤러 태그 명칭 통일 및 키워드 컨트롤러 설계
  src/main/java/com/runninghi/bookmark/command/application/controller/BookmarkCommandController.java
  src/main/java/com/runninghi/bookmarkfolder/command/application/controller/FolderCommandController.java
  src/main/java/com/runninghi/comment/command/application/controller/CommentCommandController.java
  src/main/java/com/runninghi/keyword/command/application/controller/KeywordCommandController.java
  src/main/java/com/runninghi/keyword/command/application/dto/request/KeywordUpdateRequest.java
  src/main/java/com/runninghi/keyword/command/application/service/KeywordCommandService.java
  src/main/java/com/runninghi/keyword/query/application/controller/KeywordQueryController.java
  src/main/java/com/runninghi/user/command/application/dto/sign_in/response/SignInResponse.java
  src/test/java/com/runninghi/keyword/command/application/service/KeywordCommandServiceTest.java
Labels: ⚙ Setting, 🔨 Refactoring

#198 [BUGFIX] - {USER} USER 테스트 케이스 버그 픽스
  src/main/java/com/runninghi/postreport/command/application/service/BlackListCommandService.java
  src/test/java/com/runninghi/User/command/application/service/AdminCommandServiceTest.java
  src/test/java/com/runninghi/User/query/application/service/SignQueryServiceTest.java
  src/test/java/com/runninghi/postreport/command/application/service/BlackListCommandServiceTests.java
  src/test/java/com/runninghi/user/command/application/controller/AdminCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/controller/SignCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/controller/UserCommandControllerTest.java
  src/test/java/com/runninghi/user/command/application/service/AdminCommandServiceTest.java
  src/test/java/com/runninghi/user/command/application/service/SignCommandServiceTest.java
  src/test/java/com/runninghi/user/command/application/service/UserCommandServiceTest.java
  src/test/java/com/runninghi/user/query/application/controller/AdminQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/controller/SignQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/controller/UserQueryControllerTest.java
  src/test/java/com/runninghi/user/query/application/service/AdminQueryServiceTest.java
  src/test/java/com/runninghi/user/query/application/service/SignQueryServiceTest.java
  src/test/java/com/runninghi/user/query/application/service/UserQueryServiceTest.java
Labels: 🐞 BugFix
